<div class="container">
    
                <div class="row">
                    <div class="col-md-3">
                        <div class="card" >
                            <div class="card-header">
                                Players
                            </div>
                            <ul class="list-group list-group-flush" id="players">
                                <li *ngFor="let x of room.players" class="list-group-item">{{x.name}}</li>
                            </ul>
                        </div>
                        
                        <div class="card" >
                            <div class="card-header">
                                My Quotes
                            </div>
                            <ul class="list-group list-group-flush" id="my-quotes" >
                                <li *ngFor="let x of me.quotes; index as i" 
                                    class="list-group-item"
                                    (click)="submitQuote($event, x, i)">
                                    {{x.text}}
                                </li>
                            </ul>
                        </div>
        
                    </div>
                    <div class="col-md-9">
                            <div class="card" >
                                    <div class="card-body">
                                        <img class="card-img-top" [src]="room.picture" alt="Card image cap" id="picture" >
                                        <a href="#" class="btn btn-primary" id="cmd-flip" (click)="flipPicture($event)" >Flip a new card</a>
    
                                        <div class="card" >
                                                <div class="card-header">
                                                    Played Quotes
                                                </div>
                                                <ul class="list-group list-group-flush" id="played-quotes">
                                                    <li *ngFor="let x of room.quotes; index as i" 
                                                        class="list-group-item d-flex justify-content-between align-items-center"
                                                        [ngClass]="{'list-group-item-success': room.chosenQuote == i}">
                                                        {{x.text}}
                                                        <a href="#" class="btn btn-sm btn-primary"  [ngClass]="{'disabled': room.chosenQuote != null}" (click)="chooseQuote($event, i)">Choose</a>
                                                    </li>
                                                </ul>
                                            </div>
                                                            
                                    </div>
                                </div>
                                
                    </div>
                </div>                
            </div>
    